.exp_div_top_data {
  width: 270px;
  height: 120px;
  background-color: #8ab2df3b;
  padding: 14px 24px 24px 14px;
  border-radius: 15px;
  font-size: 13px;
  gap: 10px;
  font-weight: 400;
}

.exp_div_top_data > h3 {
  font-size: 30px;
  font-weight: 600;
}

.exp_div_top_data > hr {
  border: 0.5px #8ab2df solid;
}

.exp_span_top_data {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 400;
}

.exp_img_stonks {
  margin-right: 5px;
}

